div.warning {
	font-weight: bold;
	color: orange;
}

table td {
	border: 1px solid  #000000;
}

table {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

th {
	font-weight: bold;
	border: 1px solid  #000000;
}